/* Element selectors */

/* Adds a scroll bar to the sidebar */
html {
    overflow-y: scroll;
}

/* Styles font of page */
html, body {
    font-family: monospace;
    font-size: 15px;
}

/* Colors the links */
a:link, a:visited {
    color: #fff !important;
    background-color: transparent;
    text-decoration: none;
}

/* Colors the links on hover and click */
a:hover, a:active {
    color: #682ae9 !important;
    text-decoration: none;
}

/* Colors the link icons */
a.nav-icon:link, a.nav-icon:visited {
    color: #682ae9 !important;
    text-decoration: none;
}

/* Colors the link icons on hover and click */
a.nav-icon:hover, a.nav-icon:active  {
    color: #fff !important;
    text-decoration: none;
}

/* Sets image sizing */
img {
    width: 100%;
    height: auto;
    padding: 10px;
}

/* Class selectors */

.full {
    padding: 25%;
}

.purple {
    color: #682ae9;
}

.purple-border {
    border: 1px solid #682ae9;
}