/* Universal selector */
* {
    background-color:darkslateblue;
    margin:0;
    padding:0;
}

/* Header selector */
header {
    position: fixed;
    display: flex;
    margin: 31px;
    border-bottom: 5px solid #FFD700;
}

/* List selectors */
ul {
    margin: 15px;
}
li {
    display: inline;
    padding: 10px;
    text-decoration: none;
}
